APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:2m4jj+qVYKeJLS6xRzjLopHC3Tcz7juJWUyhSbfWSFI=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=airbnb
DB_USERNAME=airbnb
DB_PASSWORD=secret

CORS_ALLOWED_ORIGINS=*
SANCTUM_STATEFUL_DOMAINS=127.0.0.1:8000,10.0.2.2:8000,localhost:5173

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=database

MAIL_MAILER=log